<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="64993EmersonLocke.WordsoftheFounders" Publisher="CN=40B6FBCC-0EB5-47A3-BA1E-63471DCE0F7F" Version="1.0.0.4" />
  <Properties>
    <DisplayName>Words of the Founders</DisplayName>
    <PublisherDisplayName>Emerson Locke</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Words_of_the_Founders.App">
      <VisualElements DisplayName="Words of the Founders" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Words of the Founders" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>