<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="Wwfd:FounderImagesBaseUrl" value="http://www.whatwouldthefoundersdo.org/" />
	</appSettings>
	<connectionStrings>
		<add name="WwfdEntities" connectionString="metadata=res://*/Data.WwfdCore.csdl|res://*/Data.WwfdCore.ssdl|res://*/Data.WwfdCore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=snare.arvixe.com;initial catalog=wwfd;user id=wwfd_user;password=.Wwfd$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
				<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>    
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
				To browse web app root directory during debugging, set the value below to true.
				Set to false before deployment to avoid disclosing web app folder information.
			-->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
