<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WwfdDailyQuoteMailer.Properties.Settings.wwfdConnectionString"
            connectionString="Data Source=snare.arvixe.com;Initial Catalog=wwfd;Persist Security Info=True;User ID=wwfd_user;Password=.Wwfd$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>