body, html {
	height: 100%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
	color: #b94a48;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #b94a48;
}

.validation-summary-valid {
	display: none;
}



/* html tags
------------------------------------------------------------------------------------*/
a {
	color: #804000;
	text-decoration: none;
}

	a:hover {
		color: #c66f2f;
		text-decoration: underline;
	}

hr {
	height: 1px;
	border: 1px solid Black;
	color: Black;
}

h1 {
	font-size: 22px;
}

h2 {
	margin-bottom: 5px;
	font-weight: normal;
	font-size: 17px;
}

h3 {
	font-weight: normal;
	font-size: 15px;
}

h4 {
	font-weight: normal;
	font-size: 12px;
}

h5 {
	font-weight: normal;
	font-size: 11px;
}

a img {
	border-width: 0px;
}

p {
	text-align: left;
}

nav {
	display: block;
	width: 100%;
	height: 50px;
	background-color: black;
	text-align: center;
}

header {
	text-align: center;
}

footer {
	position: fixed;
	bottom: 0;
	display: block;
	padding: 0 0 25px 0;
	width: 100%;
	background-color: #EEE;
	text-align: center;
	font-size: 9pt;
	font-family: Arial;
}

	footer p {
		padding: 15px;
		text-align: center;
	}

	footer #copyright {
		padding: 15px;
		background-color: #c88a4b;
		color: #FFFFFF;
		text-align: center;
		font-size: 10pt;
	}




/* named elements 
------------------------------------------------------------------------------------*/

#site-wrap {
	height: 100%;
}

#page {
	position: fixed;
	top: 0;
	left: calc(50% - 1200px / 2);
	margin: 0 auto;
	width: 1200px;
	background-color: #FFFFFF;
}

#main {
	margin-top: 15px;
}

#leftpane {
	display: inline-block;
	margin-left: 18px;
	padding: 18px 5px 0px 10px;
	width: 250px;
	color: Black;
	vertical-align: top;
}

#content {
	display: inline-block;
	padding: 18px 5px 0px 5px;
	width: 700px;
	vertical-align: top;
	text-align: left;
	font-size: 12px;
	height: calc(100%);
}

#rightpane {
	display: inline-block;
	padding: 18px 10px 0px 15px;
	width: 220px;
	vertical-align: top;
	text-align: center;
	font-size: 11px;
}



/* generic classes
------------------------------------------------------------------------------------*/
.small {
	font-size: 10px;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.bold {
	font-weight: bold;
}

.copyright {
	padding-top: 6px;
}

.error {
	padding: 3px;
}

.charcount {
	color: Maroon;
}


/* Specific Classes
-----------------------------*/
.Validator {
	margin: 0px 4px 8px 4px;
	font-weight: bold;
	font-size: 12px;
	font-family: Tahoma;
}

.CategoryLink {
	display: block;
	margin-left: 8px;
	font-size: 11px;
}

.FounderSummary {
	margin-bottom: 25px;
	text-align: center;
}

.FounderName {
	margin-bottom: 0px;
}

.FounderTitle {
	margin-top: 3px;
}

.FounderThumbnail {
	display: inline;
	margin-right: 20px;
	border: solid 1px Black;
}

.FounderLifeSpan {
	margin: 0px;
	padding: 0px;
	letter-spacing: -.5px;
}

.FounderQuotesSummary {
	margin-bottom: 25px;
	padding: 4px;
	border-bottom: 1px solid #555;
	background-color: Transparent;
	color: #555;
	text-align: right;
	font-weight: normal;
	font-size: 13px;
	font-family: Arial;
}

.SearchResultsSummary {
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #333;
	color: Maroon;
	font-weight: normal;
	font-size: 14px;
	font-family: Arial;
}

.SearchSortLink {
	font-size: 11px;
}

.SearchWord {
	background-color: Yellow;
}


/* Quote classes
------------------------------ */
.QuoteBox {
	display: block;
	margin-bottom: 15px;
	padding-bottom: 6px;
	border-bottom: 0px solid #999;
}

.Quote {
	display: block;
	margin: 0px 0px 6px 0px;
	color: #222;
	font-style: italic;
	font-size: 14px;
}

.QuoteNoLink {
	display: block;
	margin: 0px 0px 6px 0px;
	color: #222;
	font-style: italic;
	font-size: 14px;
}

.Author {
	display: inline;
	font-weight: bold;
	font-size: 14px;
}

.Reference {
	display: block;
	margin: 2px 0px;
	color: #444;
	font-size: 10px;
	font-family: Arial;
}

.Keywords {
	color: #804000;
	text-transform: lowercase;
	font-size: 12px;
	font-family: Arial;
}


.searchbox {
	color: Black;
	font-size: 18px;
	font-family: Arial;
}

.searchboxnotext {
	color: LightGray;
	font-size: 18px;
	font-family: Arial;
}


.sharing_panel {
	vertical-align: top;
	text-align: left;
}


.facebook_like_plugin {
	display: inline-block;
	overflow: hidden;
	width: 330px;
	height: 28px;
	border: none;
}
