<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Wwfd.Data.Data" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Wwfd.Data.Properties.Settings.wwfdConnectionString" connectionString="Data Source=snare.arvixe.com;Initial Catalog=wwfd;Persist Security Info=True;User ID=wwfd_user;Password=.Wwfd$" providerName="System.Data.SqlClient" />
    <add name="WwfdEntities" connectionString="metadata=res://*/WwfdCore.csdl|res://*/WwfdCore.ssdl|res://*/WwfdCore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=snare.arvixe.com;initial catalog=wwfd;user id=wwfd_user;password=.Wwfd$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Wwfd.Data.Data>
      <setting name="connectionString" serializeAs="String">
        <value>snare.arvixe.com;Initial Catalog=wwfd;User ID=wwfd_user;Password=.Wwfd$" providerName="System.Data.SqlClient"
</value>
      </setting>
    </Wwfd.Data.Data>
  </userSettings>
</configuration>