<div class="jumbotron">
	<h1>Wwfd Open Api</h1>
	<p class="lead">What Would the Founders Do is open sourcing the API so that anyone can use the data to build their own apps or for integration into their own websites.</p>
	<p><a href="Help" class="btn btn-primary btn-lg">See the Api Documentation Now</a></p>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Website</h2>
		<p>Wwfd currently hosts a website where anyone can visit, search, share and research information against the words of the American Founding Fathers and Founding Mothers.</p>
		<p><a class="btn btn-default" href="http://whatwouldthefoundersdo.org">Visit Site</a></p>
	</div>
	<div class="col-md-4">
		<h2>Over 500 Quotes</h2>
		<p>The database is growing and currently contains over 500 quotes, each indexed against keywords and full referenced.</p>
		<p></p>
	</div>
	<div class="col-md-4">
		<h2>Accurate Data</h2>
		<p>Each quote is researched and verified by the contributing community and are marked accordingly. You can use this site to ensure quotes you have are accurate and not spurious.</p>
		<p></p>
	</div>
</div>
